<h1>Books List</h1>

<a href="/books/lab10/addbook">Add New Book</a>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for b in books %}
    <tr>
        <td>{{ b.title }}</td>
        <td>{{ b.price }}</td>
        <td>{{ b.quantity }}</td>

        <td><a href="/books/lab10/editbook/{{ b.id }}">Edit</a></td>
        <td><a href="/books/lab10/deletebook/{{ b.id }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
