<!DOCTYPE html>
<html>
<head>
    <title>Tables</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <!-- Table 1 -->
    <h3>Table 1: Table of Fruits and Their Prices</h3>
    <table class="custom-table">
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td>50.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>30.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>51.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>52.00</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>53.75</td>
        </tr>
    </table>

    <br><br>

    <!-- Table 2 -->
   <h3>Table 2: A more complex sample table</h3>
<table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; text-align: center;">
    <tr>
        
        <td rowspan="5" style="padding:8px;">
            <img src="/static/camel_image.jpg" alt="Camel" width="200">
        </td>
        <th colspan="4">
            Camelid comparison<br>
            <small>Approximate as of 6/2011</small>
        </th>
    </tr>
    <tr>
        <th>Species</th>
        <th># of humps</th>
        <th>Indigenous region</th>
        <th>Spits?</th>
        <th>Produces wool?</th>
    </tr>
    <tr>
        <td><b>Dromedary</b></td>
        <td>1</td>
        <td>Arabian Peninsula</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td><b>Camels (bactrian)</b></td>
        <td>2</td>
        <td>Africa/Asia</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td><b>Llamas</b></td>
        <td>1</td>
        <td>Andes Mountains</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
</table>



</body>
</html>